In [13]:
import streamlit as st

In [14]:
import pandas as pd

In [15]:
import plotly.express as px

In [16]:
df=pd.read_csv('vehicles_us.csv')

In [17]:
def price_category(x):
    if x>50000: return 'Expensive'
    elif x>=30000 and x<50000: return 'Cheap'
    elif x<30000 :return 'Dirt Cheap'

In [18]:
df['price_category']=  df['price'].apply(price_category)

In [19]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,price_category
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,Dirt Cheap
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,Dirt Cheap
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,Dirt Cheap
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,Dirt Cheap
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,Dirt Cheap

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           51525 non-null  int64
 1   model_year      47906 non-null  float64
 2   model           51525 non-null  object
 3   condition       51525 non-null  object
 4   cylinders       46265 non-null  float64
 5   fuel            51525 non-null  object
 6   odometer        43633 non-null  float64
 7   transmission    51525 non-null  object
 8   type            51525 non-null  object
 9   paint_color     42258 non-null  object
 10  is_4wd          25572 non-null  float64
 11  date_posted     51525 non-null  object
 12  days_listed     51525 non-null  int64
 13  price_category  51521 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 5.5+ MB

In [24]:
df[df['model_year'].isna()]

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,price_category
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,Dirt Cheap
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28,Dirt Cheap
65,12800,NaN,ford f-150,excellent,6.0,gas,108500.0,automatic,pickup,white,NaN,2018-09-23,15,Dirt Cheap
69,7800,NaN,ford f-150,like new,8.0,gas,97510.0,automatic,truck,white,1.0,2019-02-20,39,Dirt Cheap
72,3650,NaN,subaru impreza,excellent,NaN,gas,74000.0,automatic,sedan,blue,1.0,2018-08-07,60,Dirt Cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51464,8890,NaN,ford f250 super duty,good,8.0,gas,135778.0,automatic,truck,red,1.0,2018-11-28,24,Dirt Cheap
51465,34595,NaN,gmc yukon,excellent,8.0,gas,86456.0,automatic,SUV,silver,1.0,2019-04-18,13,Cheap
51487,1495,NaN,ford f-150,fair,6.0,gas,15804.0,manual,truck,white,1.0,2018-09-18,56,Dirt Cheap
51488,21900,NaN,chevrolet silverado 3500hd,excellent,8.0,diesel,203000.0,automatic,truck,white,1.0,2018-12-27,37,Dirt Cheap
51508,4950,NaN,chrysler town & country,excellent,6.0,gas,150000.0,automatic,mini-van,silver,NaN,2018-06-30,48,Dirt Cheap

In [28]:
##I can see there are 3619 rows with values in the model, i'm goign to remove them.

In [35]:
df.dropna(inplace=True)

In [36]:
df[df['model'].isna()]

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed, price_category]
Index: []

In [37]:
df[df['model'].duplicated()]['model']

60                         ram 1500
61         chevrolet silverado 1500
67                         ram 1500
83              chevrolet silverado
85                        gmc yukon
                    ...
51494             chevrolet equinox
51500                 buick enclave
51509                subaru impreza
51513                      ram 1500
51515    chevrolet silverado 2500hd
Name: model, Length: 14759, dtype: object

In [39]:
df['model_year'] = df['model_year'].astype(int)

In [29]:
## I can see the model year is float and that is not correct it should be int
## To convert it to int im going to check and remove the missing values

In [40]:
df['condition'].unique

<bound method Series.unique of 5        excellent
7        excellent
10       excellent
14       excellent
16       excellent
           ...
51494    excellent
51500    excellent
51509    excellent
51513     like new
51515         good
Name: condition, Length: 14848, dtype: object>

In [41]:
df[df['condition']=='excellent']['price'].describe()

count     7449.000000
mean     16145.855148
std      10602.453224
min          1.000000
25%       8500.000000
50%      14500.000000
75%      21995.000000
max      90577.000000
Name: price, dtype: float64

In [42]:
df[df['condition']=='new']['price'].describe()

count       45.000000
mean     36898.644444
std      18784.230014
min          1.000000
25%      28000.000000
50%      38414.000000
75%      50440.000000
max      66000.000000
Name: price, dtype: float64

In [43]:
df['type'].unique

<bound method Series.unique of 5            sedan
7              SUV
10          pickup
14             SUV
16          pickup
           ...
51494          SUV
51500          SUV
51509    hatchback
51513       pickup
51515       pickup
Name: type, Length: 14848, dtype: object>

In [54]:
df[df['type']=='convertible']['price'].describe()

count       31.000000
mean     11559.903226
std       8252.978054
min          1.000000
25%       6200.000000
50%       9995.000000
75%      16000.000000
max      30000.000000
Name: price, dtype: float64

In [56]:
df[(df['type']=='convertible') & (df['condition']=='new')]

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed, price_category]
Index: []

In [60]:
df[(df['type']=='convertible')]['condition'].unique()

array(['good', 'excellent', 'like new'], dtype=object)

In [61]:
df[(df['condition']=='new')]['type'].unique()

array(['truck', 'pickup', 'SUV', 'mini-van'], dtype=object)

In [62]:
df[(df['condition']=='good')]['type'].unique()

array(['SUV', 'truck', 'pickup', 'sedan', 'hatchback', 'wagon', 'offroad',
       'convertible', 'other', 'mini-van', 'coupe', 'van'], dtype=object)

In [63]:
df[(df['type']=='sedan') & (df['condition']=='new')]

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed, price_category]
Index: []

In [64]:
df[(df['type']=='sedan')]['condition'].unique()

array(['excellent', 'like new', 'good', 'fair', 'salvage'], dtype=object)

In [66]:
df[df['type']=='sedan']['price'].describe()

count      329.000000
mean      7883.872340
std       6899.260946
min          1.000000
25%       3397.000000
50%       6900.000000
75%      11971.000000
max      64000.000000
Name: price, dtype: float64

In [71]:
df[(df['type']=='SUV')]['condition'].unique()

array(['excellent', 'good', 'like new', 'fair', 'salvage', 'new'],
      dtype=object)

In [72]:
df[df['type']=='SUV']['price'].describe()

count     5147.000000
mean     12027.639402
std       9476.202508
min          1.000000
25%       5000.000000
50%       9500.000000
75%      15999.000000
max      76995.000000
Name: price, dtype: float64

In [74]:
df[(df['type']=='SUV') & (df['condition']=='new')]

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,price_category
10365,4500,2007,jeep grand cherokee,new,6.0,gas,217000.0,automatic,SUV,white,1.0,2019-02-10,40,Dirt Cheap
13208,1,2018,toyota rav4,new,4.0,gas,7500.0,automatic,SUV,grey,1.0,2018-05-09,10,Dirt Cheap
29006,41800,2018,chevrolet tahoe,new,8.0,gas,7.0,automatic,SUV,white,1.0,2018-06-02,82,Cheap
29081,30740,2018,jeep wrangler unlimited,new,4.0,gas,10.0,automatic,SUV,white,1.0,2018-10-18,33,Cheap
32457,6500,2010,subaru outback,new,4.0,gas,144000.0,automatic,SUV,green,1.0,2018-11-18,2,Dirt Cheap
38275,64010,2018,chevrolet suburban,new,8.0,gas,7.0,automatic,SUV,white,1.0,2018-09-18,65,Expensive
41474,21999,2017,jeep grand cherokee,new,6.0,gas,46574.0,automatic,SUV,white,1.0,2019-01-10,11,Dirt Cheap
45676,3200,2006,chevrolet trailblazer,new,8.0,gas,158380.0,automatic,SUV,black,1.0,2019-03-13,41,Dirt Cheap

In [76]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,price_category
5,14990,2014,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15,Dirt Cheap
7,15990,2013,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68,Dirt Cheap
10,19500,2011,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38,Dirt Cheap
14,12990,2009,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24,Dirt Cheap
16,14990,2010,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13,Dirt Cheap

In [80]:
df[(df['type']=='SUV') & (df['condition']=='days_listed')]

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed, price_category]
Index: []

In [85]:
df[(df['condition']=='new')]['days_listed'].describe()

count    45.000000
mean     31.377778
std      21.386369
min       2.000000
25%      14.000000
50%      30.000000
75%      41.000000
max      82.000000
Name: days_listed, dtype: float64

In [86]:
df['type'].unique()

array(['sedan', 'SUV', 'pickup', 'truck', 'hatchback', 'wagon', 'other',
       'coupe', 'offroad', 'convertible', 'mini-van', 'van'], dtype=object)

In [87]:
df[(df['type']=='SUV')]['days_listed'].describe()

count    5147.000000
mean       39.918788
std        27.961351
min         0.000000
25%        20.000000
50%        34.000000
75%        54.000000
max       243.000000
Name: days_listed, dtype: float64